body{
  margin-top: 150px;
  margin-left: 40%;
  /* background-color: grey; */
  background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: auto;
  background-repeat: no-repeat;
}
.outer{
  width: 404px;
  height: 608px;
  border: 3px solid black;
  background-color: white;
}
#display{
  margin: -2px;
  width: 404px;
  height: 100px;
  border: 2px solid black;
  background-color: lightgrey;
  cursor: text;
}
.displayValues{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#backspace{
  position: fixed;
  text-align: right;
  margin-left: 361px;
  font-size: 30px;
  margin-top: -13px;
  color: darkred;
  cursor: pointer;
}
#backspace:hover{
  color:red;
}
.background-color-red{
  background-color: red;
  color: white;
}
.button-color-red{
  color: red;

}
#heading{
  margin-top:-3px;
  background-color:black;
  text-align: center;
  color:white;
  border: 3px solid black;
}
#displayText{
  font-size: 30px;
  margin-top: 16px;
  text-align: right;
  margin-right: 4px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}
.button{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-left: -1px;
  cursor: pointer;
  transition: 1s ease;
}
.button:hover{
  background-color: black;
  color: white;
}
.hover:hover{
  color: yellow;
}
.button h1{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.power{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.power p:hover{
  background-color: white;
    color: black;
    box-shadow: 0px 0px 4px 4px white;
}
.power p{
  /* font-family: Courier; */
  font-family: monospace;
  font-size: 20px;
  color: white;
  /* padding: 2px; */
}
@media  screen and (max-width: 750px) {
  body{
    margin-left: 20%;
  }
}
@media  screen and (max-width: 550px) {
  body{
    margin-left: 5vh;
  }
}
@media  screen and (max-height: 700px) {
  body{
    margin-top: 10px;
  }
}